<!DOCTYPE html>
<html>
    <head>
        <style>
            div#aa{
               display: inline; 
            }
            @keyframes anim{
                0%, 100%{
                    left: 100px;
                }
                50%{
                    left: 110px;
                }
            }
        </style>

    </head>
    <body>
        <div style="display: flex; gap: 100px; align-items: baseline;">
        <h1 style="font-size: 500%;"><strong>오늘의 날씨</strong></h1>
        <h2 style="font-size: 200%;">시간</h2>
        </div>
        <hr>
    </body>
</html>