<!DOCTYPE html>
{% load static %}
<html lang="en" >
    <head>
      <meta charset="utf-8">
      <title>Draggable Image Slider | CodingNepal</title>
      <link rel="stylesheet" href="{% static 'src/css/Drgslider.css' %}">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
      <script src="{% static 'src/js/DrgsliderJ.js' %}" defer></script>
    </head>
    <body>
      <div class="wrapper">
        <i id="left" class="fa-solid fa-angle-left"></i>
        <div class="carousel">
          <img src="{% static 'src/assets/loaf.png' %}" alt="img" draggable="false">
          <img src="{% static 'src/assets/huh.gif' %}" alt="img" draggable="false">
          <img src="{% static 'src/assets/oiio.gif' %}" alt="img" draggable="false">
          <img src="{% static 'src/assets/loaf.png' %}" alt="img" draggable="false">
          <img src="{% static 'src/assets/loaf.png' %}" alt="img" draggable="false">
          <img src="{% static 'src/assets/loaf.png' %}" alt="img" draggable="false">
          <img src="{% static 'src/assets/loaf.png' %}" alt="img" draggable="false">
          <img src="{% static 'src/assets/loaf.png' %}" alt="img" draggable="false">
          <img src="{% static 'src/assets/loaf.png' %}" alt="img" draggable="false">
        </div>
        <i id="right" class="fa-solid fa-angle-right"></i>
      </div>
      
    </body>
  </html>